* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4c9d1+0,54bcc9+58,0a6278+100 */
    background: rgb(164, 201, 209);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(164, 201, 209, 1) 0%, rgba(84, 188, 201, 1) 58%, rgba(10, 98, 120, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(164, 201, 209, 1) 0%, rgba(84, 188, 201, 1) 58%, rgba(10, 98, 120, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(164, 201, 209, 1) 0%, rgba(84, 188, 201, 1) 58%, rgba(10, 98, 120, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a4c9d1', endColorstr='#0a6278', GradientType=1);
    /* IE6 */
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 10% 20px 0;
}

p {
    border-top: 1px dotted rgba(92, 98, 101, 0.75);
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto;
    padding: 40px 10px;
    width: 70%;
}

.social {
    text-align: center;
}

.social a:link,
.social a:visited,
.social a:hover,
.social a:active {
    color: #000;
    font-size: 25px;
    margin-right: 25px;
}

.social a:hover {
    color: #3d3d3d;
}

.social a:last-of-type {
    margin-right: 0;
}

.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    position: absolute !important;
    overflow: hidden;
    width: 1px;
}

@media (max-width: 400px) {
    body {
        background: rgba(84, 188, 201, 1);
    }
    .social a {
        font-size: 20px !important;
        margin-right: 20px !important;
    }
    p {
        width: 80%;
        font-size: 14px;
    }
}
